.App {
  text-align: center;
  margin-top: 15%;
}

.command-options {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5%;
}

.command-container {
  display: flex;
  flex-direction: row;
}

.command-sequence-result {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5%;
}

.n-command-sequence-result {
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

select {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dist-upload {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.execute-command {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.command-exp {
  margin-top: 10px;
}

.command-result {
  margin-top: 10px;
}